<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <p><a href="/printer">Printer (leave this open in a tab)</a></p>
  <p><a href="/scanner">Scanner (leave this open in a another tab)</a></p>
</body>
</html>